In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv("../Data/phones-fill-training.csv")

In [3]:
df.head()

,Isletim_Sistemi,Dahili_Hafiza,Video_Kayit_Cozunurlugu,Ekran_Yenileme_Hizi,Fiyat
0,1,64.0,1,60.0,9952.0
1,0,128.0,0,60.0,2990.0
2,0,128.0,1,60.0,43845.0
3,1,128.0,1,60.0,10795.0
4,1,64.0,1,60.0,9846.0

In [4]:
X = df.iloc[:,:-1].values
y = df.iloc[:,-1:].values
y = y.reshape(-1, 1)

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [11]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,y_train)
y_pred=regressor.predict(X_test)

In [12]:
from sklearn.metrics import r2_score
ml_score=r2_score(y_test,y_pred)

In [13]:
print(ml_score)

0.06780358024991862

In [14]:
import joblib
joblib.dump(regressor, "../Models/phones_multiple_linear_model.pkl")

['../Models/phones_multiple_linear_model.pkl']